<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <add key="LogPathString_Dummy" value="C:\MySpace\FrameworkClassicTeaLog.txt" />
    <add key="LogPathString" value="C:\FrameworkClassicTeaLog.txt" />
  </appSettings>
</configuration>